<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Privilegia</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/jquery")

</head>
<body>
    @Styles.Render("~/Content/css")
    @Html.Partial("_NavBar")
    @Scripts.Render("~/bundles/jqueryval")

<div class="container body-content">
    @RenderSection("featured", required: false)
    @RenderBody()
    <hr/>
</div>
    <footer class="text-center">
        <p>&copy; Mutualidad de la Abogacía - Programa Privilegia 2017</p>
    </footer>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
