@model Privilegia.Models.PersonaContactoModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Estas seguro de borrar esta persona?</h4>
</div>

<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cargo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Principal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Principal)
        </dd>

    </dl>

</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="modal-footer">
        <button class="btn" type="button" data-dismiss="modal">No</button>
        <input class="btn btn-danger" type="submit" value="Si" />
    </div>
}


