@Styles.Render("~/Content/css")
@using System.Globalization
@model Privilegia.ViewModels.FacturaPublicidadViewModel
<div class="container doc_factura">
    <div class="row">
        <div class="col-md-12 encabezado">
            <img src="/Images/logo_mutualidad_abogacia.png" alt="Mutualidad de la Abogacía">
            <img class="pull-right" src="/Images/club_privilegia.png" alt="programa Privilegia">
        </div>
    </div>
    <div class="row direcciones">
        <div class="col-md-12">
            <p>
                Cif.: V28024149<br>
                Serrano, 9<br>
                28001 MADRID<br><br>
                902 25 50 50<br>
                www.mutualidadabogacia.com
            </p>
        </div>
        <div class="col-md-4 pull-right">
            <p class="facturado">
                <strong>
                    @Model.Partner.Nombre<br>
                    @Model.Partner.DireccionPrincipal.Calle @Model.Partner.DireccionPrincipal.Numero<br>
                    @Model.Partner.DireccionPrincipal.CodigoPostal @Model.Partner.DireccionPrincipal.Provincia<br><br><br>
                    CIF.: @Model.Partner.Cif<br><br>
                </strong>
                @Model.Fecha

            </p>
        </div>
    </div>
    <h2 class="text-center"><span class="glyphicon glyphicon-list-alt"></span> <strong>Factura Nº PUB12-2016</strong></h2>
    <div class="row">
        <div class="col-md-12">
            <table class="table  table-striped factura">
                <thead>
                    <tr>
                        <th>CONCEPTO</th>
                        <th class="text-center">IMPORTE TOTAL</th>
                    </tr>
                </thead>

                <tbody>
                    @{
                        var suma = 0.0;
                        foreach (var publicidad in Model.ListadePublicidad)
                        {
                            suma = suma + Double.Parse(publicidad.Total, CultureInfo.InvariantCulture);
                            <tr>
                                <td>@publicidad.NombreEspacioPublicidad - @publicidad.NombreParteEspacioPublicidad</td>
                                <td class="text-center">@publicidad.Total €</td>
                            </tr>
                        }
                    }
                    <tr>
                        <td></td>
                        <td class="text-center"></td>
                    </tr>
                    <tr class="borde_oscuro" >
                        <td class="text-right prueba">SUMA</td>
                        <td class="text-center">@suma €</td>
                    </tr>
                    <tr>
                        <td class="text-right">21% I.V.A.</td>
                        @{ var iva = Math.Round(suma * 0.21, 2);}
                        <td class="text-center">@iva €</td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>TOTAL FACTURA</strong></td>
                        @{ var total = Math.Round(suma + iva, 2);}
                        <td class="text-center"><strong>@total €</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-12 text-center">
            <p>
                <strong>Condiciones de Pago.</strong> Mediante transferencia a nombre de <strong>Mutualidad de la Abogacía</strong> a la cuenta que indicamos:
            </p>
            <p>
                <strong>LA CAIXA ES17 2100 5731 74 0200074265</strong>
            </p>
        </div>
    </div>
</div>
