
@{
    ViewBag.Title = "SubidaFicheros";
}

<div class="modal-header">
    <h2><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Subida de Ficheros</h2>
</div>
@using (Html.BeginForm("CargarArchivo", "SubidaArchivos", null, FormMethod.Post, new { enctype = "multipart/form-data", id = "myform" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Archivo", new { @class = "control-label" })
                    <input type="file" id="Archivo" name="archivo" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.Label("Proveedor", new { @class = "control-label" })
                    <select class="form-control" name="proveedor">
                        <option value="Yo Respondo">Yo Respondo</option>
                        <option value="La Caixa">La Caixa</option>  
                        <option value="AXA">AXA</option>
                        <option value="Renta 4">Renta 4</option>
                        <option value="Woltos Kluwe">Woltos Kluwe</option>
                        <option value="Viajes el Corte Ingles">Viajes el Corte Ingles</option>
                        <option value="Avis">Avis</option>
                        <option value="Haq">Haq</option>
                        <option value="Endesa">Endesa</option>
                       
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <a class="btn btn-primary btn-alpie" onclick="submit()">
                    <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Cargar Archivo
                </a>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <span id="progress" class="text-center" style="display: none;">
            <img src="/images/wait.gif" alt="wiat" />
            Espere...
        </span>
       
    </div>
}

@section scripts
{
    <script type="text/javascript">


       

        function cargarNotificaciones() {
            console.log('@ViewBag.error');
            if ('@ViewBag.error' !== "null" && '@ViewBag.error' !== "") {
                $.notify({
                        icon: 'glyphicon glyphicon-remove',
                        title: "Error",
                        message: '<strong>@ViewBag.error.</strong> \n',
                        newest_on_top: true
                    },
                    {
                        offset: {
                            y: 100
                        },
                        placement: {
                            from: "bottom",
                            align: "center"
                        },
                        type: 'danger',

                        animate: {
                            enter: 'animated fadeInRight',
                            exit: 'animated fadeOutRight'
                        }
                    });
            }
        };

        function submit() {
            var notify = $.notify('<strong>Cargando</strong> No cierres esta ventana...',
            {
                type: 'danger',
                allow_dismiss: false,
                showProgressbar: true,
                offset: {
                    y: 100
                },
                placement: {
                    from: "bottom",
                    align: "center"
                }

            });

            setTimeout(function() {
                    notify.update('message', '<strong>Leyendo registros...</strong>');
                },
                2000);

            setTimeout(function() {
                    notify.update('message', '<strong>Procesando registros...</strong>');
                },
                3000);

            setTimeout(function() {
                    notify.update('message', '<strong>Guardando registros...</strong>');
                },
                4000);

            setTimeout(function() {
                    notify.update('message', '<strong>Finalizando...</strong>');
                    $("#myform").submit();
                },
                4000);
            //do something


        }

        $(document)
            .ready(function() {
                cargarNotificaciones();

                
            });
    </script>
}


